/* Add your custom styles here */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100vh;
    /* width: 51%; */
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn {
    width: 100%;
  }
  